@import "tailwindcss";
@import "tw-animate-css";


@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(150px);
  }
}

@keyframes wobble {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-150px);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
