*,
*::before,
*::after {
    box-sizing: auto;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: Helvetica, Arial, sans-serif ;
    --ff-secondary: Helvetica, Arial, monospace;
    
    --fw-reg: 300;
    --fw-bold: 1000;
    
    --clr-light: #0a030310;
    --clr-dark: #363636;
    --clr-accent: #2b2929af;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgb(209, 203, 203),
        0.125em 0.125 0.25em rgba(247, 202, 202, 0.911);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 2.5em;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
    background-image: url("images/bg.jpg");
    background-attachment: fixed;
    background-attachment:no-repeat;
    background-size:auto;

}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    min-width: auto;
    max-width: auto;
}
strong { font-weight: var(--fw-bold) }
:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 1px;
    
}

/* buttons */
.btn {
   display: inline-block;
    padding: .5em 2.5em;
    background: #ffffff;
    color: var(--clr-dark);
    cursor: pointer;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    mask-border: var(--squircle-radius);
    border-radius: 20px;
    shape-margin: var(--squircle-smooth);
    
    
}

.btn:hover {
    transform:scale(1.1); 
}
/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
    color: #333131;
    text-align: center;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    text-align: center;
    font-size: var(--fs-h2);
  a {
  box-shadow: inset 0 0 0 0 #000000;
  color: #333131;
	padding: 0 .25rem;
	margin: 0 -.25rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
a:hover {
  color: #333131;
  box-shadow: inset 700px 0 0 0 var(--clr-light);
}


a {
	color: var(--clr-dark);
  font-family: 'Horizon', sans-serif;
  font-size: 200px;
  font-weight: 800;
  line-height: 1.5;
  text-decoration: none;
}

body {
	display: grid;
    height: 100vh;
	place-items: center;
}


}


.section__title--intro strong {
    display: block;
    font-size: 200px;
    font-family: 'Horizon', sans-serif;
} 

.section__subtitle {
    padding: 2.5em;
    text-align: center;
    margin-top: -0.5%;
    margin-right: 30%;
    margin-left: 30%;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {

    background: var(--clr-dark);
    padding: 1.5em;
    font-size:  var(--fw-h2);
    font-family: var(--ff-secondary);
    margin-bottom:2em;
    color:rgb(240, 218, 206);
    border-radius: 20px;
    shape-margin: var(--squircle-smooth);
}
.section__subtitle--about{
    background: var(--clr-dark);
    margin-right: 10%;
    padding: 1.5em;
    padding-right: 20%;
.abou-me__body{
    margin-left: 10%;
    padding-left: 10%;
    font-size: var(--fs-h3);
    padding-right: 50%;
}
}



/* header */
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}


.intro__img{
    display:block;
    position: center;
    align-items: center;
    padding-right: 50%;
    padding-left: 30%;
    filter: drop-shadow(rgb(24, 24, 24) 1rem 1rem 10px);
    max-width: 100%;
    margin-top: 50px;
    color: var(--clr-accent);
    border-radius: 20px;
    shape-margin: var(--squircle-border-radius);




.section__subtitle--intro {
    display: inline-block;
}
@media (min-width: 600px) {
    .intro {
        display: grid;
        grid-template-areas:
            "img-title"
            "img-subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        mask-image: paint(squircle);
        --squircle-radius: 20px; 
        --squircle-smooth: 0.6;
        min-width: 250px;
        max-width: auto;
        position: auto;
    } 
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        
    }
}
}


/* my servises */
.my-services {
    background-color: var(--clr-light);
    background-image: url("images/Screenshot1.jpg") ;
    padding: 10%;
    background: opacity 0.9;;
    background-size: cover;
    color: rgb(90, 90, 89);
    text-align: center;
    font-size: 1.5em;
}
        
.section__title--services {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 5rem;
    text-align: right;
    padding-left: 2em;
}

.section__title::after {
    content: "as a student";
    display: 25%;
    height: 1px;
    margin: 0.2em auto 1em;
    background: var(--clr-dark);
    opacity: 0.25;
}

.services {
    color: var(--clr-dark);
    margin-bottom: 4em;
    margin-left: 10%;
}
.service {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 800px) {
     .services {
         display: flex;
         max-width: 1000px;
         margin: 2em;
     }
    .servic + .service {
        margin-left: 2em;
        
    }
}
 
.about-me {
    max-width: 500px;
    margin: auto;
}

.about-me__image {
    box-shadow: var(--bs);
    padding-left: 30%;
}

@media (min-width:600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 150px;
        grid-template-areas: "my image"
    }

    .section__title--about,
    .section__subtitle--about {
        grid-area: title;
        grid-column: 1;
        margin-left: 10px;
    }

     .section__subtitle--about {
        grid-column: 1 / -1;
        text-align: center;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 4em);
        padding-left: 0%;
    }

         
    }
    
    .abou-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }


.my-work {
    background-color: rgb(145, 145, 145);
    color: var(--clr-ligth);
    text-align: center;
    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto, minmax(300px, 1fr));
}

.portfolio__item {
    background:rgb(145, 145, 145) ;
    background-position: fixed;
    color: #d6d1d1;
    font-size: 2rem;
}

.portfolio__img {
    max-width: 490px;
    display: inline;
    align-items: center;
    position:static;
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}


.portfolio__item:focus {
    position: absolute;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus, .portfolio__img {
    border-style: var(--squircle-smooth);
    --squircle-radius: 20px; 
    --squircle-smooth: 0.6;
    transform: scale(1);
    opacity: 0.99;
}


/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: wheat;;
    text-decoration:solid;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: solid;
}

.social-list {
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin: 2em 0 0;
    padding-right: 50%;
    padding-left: 40%;
    position:  relative;
}

.social-list__item {
    margin: 0 .9em;
    font-size: 3rem;
}

.social-list__link1 {
    color: rgb(231, 80, 21);
    content: icon;
    padding: 1em;
    
}
.social-list__link2 {
    color: rgb(46, 146, 228);
    content: icon;
    symbols: inherit;
    padding: 1em;
}
.social-list__link3 {
    color: #111;
    content: icon;
    symbols: inherit;
    padding: 1em;
}
.social-list__link4 {
    color: #111;
    content: icon;
    symbols: inherit;
    padding: 1em;
}

.portfolio-itm {
    background-image: url("images/bird.jpg");
    background-position: center;
    background-size: 5000px;
    background-repeat: no-repeat;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    margin: 2em 0;

}
.refer {
        font-size: var(--fs-h1);
        color: var(--clr-dark);
        padding: 1em;
        text-align: center;
        
}





